.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-group form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .form-group form input,
  .form-group form textarea,
  .form-group form button {
    margin-bottom: 10px; 
  }
  .input{
      background-color: aliceblue;
      color: black;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: none
  }
  
  .textarea
  {
      width: 300px;
      border: none;
      height: 50px;
      background-color: aliceblue;
      color: black;
      height: 50px;
  }
  
  .button{
    width: 150px;
    height: 40px; 
    background: dodgerblue;
    border-radius: 5px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
  }
  