/* Base styles */
:root {
  /* Use a modern sans-serif font stack */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5; /* Set the line height to 1.5 times the font size */
  font-weight: 400; /* Set the font weight to normal */

  /* Set up color scheme and initial color and background colors */
  color-scheme: light dark; /* Enable color schemes for light and dark modes */
  color: rgba(255, 255, 255, 0.87); /* Set the initial text color to a semi-transparent white */
  background-color: #242424; /* Set the initial background color to a dark gray */

  /* Improve font rendering */
  font-synthesis: none; /* Disable font synthesis */
  text-rendering: optimizeLegibility; /* Optimize text rendering for legibility */
  -webkit-font-smoothing: antialiased; /* Use antialiased font smoothing in Webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Use grayscale font smoothing in Mozilla browsers on OS X */
}

/* Link styles */
a {
  font-weight: 500; /* Set the font weight to medium */
  color: #646cff; /* Set the link color to a blue-purple color */
  text-decoration: inherit; /* Inherit the text decoration from the parent element */
}

a:hover {
  color: #535bf2; /* Set the link color on hover to a slightly lighter blue-purple color */
}

/* Body styles */
body {
  margin: 0; /* Remove the default margin */
  display: flex; /* Set the display mode to flexbox */
  place-
